<%= link_to '[INDEX]', {action: 'index'} %>
</br>
<h1> Account#show </h1>
Name: <%= @account.name %> </br>
Email: <%= @account.email %> </br>
Phone Number: <%= @account.phone_number %> </br>
User Role: <%= @account.user_role %> </br>
Status: <%= @account.status %> </br>
